{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'cabinets/node_modules/jstree/dist/themes/default/style.min.css' %}" />
{% endblock %}

{% block javascript %}
<script>
    
</script>
{% endblock %}

<div id="jstree_global"></div>