{% extends 'appearance/base.html' %}

{% load i18n %}
{% load static %}

{% block title %}{% include 'appearance/calculate_form_title.html' with non_html_title=True %}{% endblock %}

{% block content %}
    <div class="row">
        <div>
            <button class="btn btn-default" onclick="history.back()">Zurück</button>
            <br>
            <h5> {{ object.label }}</h5>
            <form>
                <input class="form-control" value="{{ object.label }}">
                <input class="form-control" value="{{ object.isAkt }}">
                <input class="form-control" value="{{ object.shortname }}">
                <br>
                <button class="btn btn-primary btn-hotkey-default">Speichern</button>
                <button class="btn btn-default" onlcick="history.back()">Abbrechen</button>
            </form>
        </div>
    </div>
{% endblock %}